
<td><{{input type="checkbox" name="iscollected" checked=track.isCollected change=(action "setIsCollected")}}</td>
<td>{{track.id}}</td>
<td>{{track.name}}</td>
<td>{{track.type}}</td>
<td>{{track.source}}</td>
<td>
    <button {{action "previewTrack" this}}>Preview</button>
    <audio>
        <source src="ffxiv-{{track.id}}.ogg" type="audio/ogg">
        <source src="ffxiv-{{track.id}}.mp3" type="audio/mp3">
    </audio>
</td>


{{yield}}
