
<td><{{input type="checkbox" name="iscollected" checked=track.isCollected change=(action "setIsCollected")}}</td>
<td>{{track.id}}</td>
<td>{{track.name}}</td>
<td>{{track.type}}</td>
<td>{{track.source}}</td>


{{yield}}
